/* Navbar */

nav div.nav-wrapper, nav .bread-nav div.bread-nav-wrapper, .bread-nav nav div.bread-nav-wrapper {
    height: 50px;
    width: 100% !important;
    max-width: 100%;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}
nav div.profileimg {
    display:none !important;
}

/** SVG **/

svg {
  background: white; }

.toc-wrapper {
  display: none !important; }

.g2_1 {
  fill:  #747476 !important; 
}
.g2_1.table {
  fill: #747476;
}

.g2_1.table:after {
  content: 'Hetfő'; }

.rc_0 {
  fill: #3CA94D !important; }

.rc_1 {
  fill: #747476 !important; }
  
.mytable {
  fill: #EE7F04 !important; }
  
.g3_1 {
  fill: none;
  stroke: rgba(0, 0, 0, 0.15) !important;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round; }