<div class="card hide-on-small-only">
	<div class="card-image" style="background-image:url('/assets/images/q1.jpg');height:180px">
		<span class="card-title white-text">{{t 'help.title'}}</span>
	</div>
	<div class="card-content">
		<p>{{t helpTextCode}}</p>
	</div>
	{{#if showYield}}
	<div class="card-action" style="padding-top:0">
	{{yield}}
	</div>
	{{/if}}
</div>